<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ 'Header.NavBar' | translate }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active">{{ 'Header.Home' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Patients" routerLinkActive="active">{{ 'Header.Patients' | translate }}</a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link" routerLink="/Appointments" routerLinkActive="active">{{ 'Header.Appointments' | translate }}</a>
        </li>
       
      </ul>
    </div>
    <div class="navbar-nav">
      <a  routerLink="/login" routerLinkActive="active" class="nav-link"><b>{{ 'Header.Login' | translate }}</b></a>
      <a  routerLink="/Register" routerLinkActive="active" class="nav-link"><b>{{ 'Header.Register' | translate }}</b></a>
    </div>
  </div>
  <button (click)="useLanguage('en')">English</button>
  <button (click)="useLanguage('ar')">Arabic</button>
</nav>
