<form class="m-3" [formGroup]="userLoginFormGroup" >
    <div class="mb-3">
      <label for="uEmail" class="form-label">Email</label>
      <input type="Email" formControlName="email" class="form-control" name="uEmail" id="uEmail" placeholder="" required #email>
    </div>
    <div class="mb-3">
      <label for="uPass" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" name="uPass" id="uPass" placeholder="" required #password>
    </div>
    <button [disabled]="userLoginFormGroup.invalid" type="submit" class="btn btn-success" (click)="CheckRegisteration(email.value,password.value)">Login</button>
  </form>
